body {
    background-color: orange;
}

img {
    max-height: 800px;
    object-fit: fill;
}

nav {
    margin-left: 20%;
    width: 100%;
    background-color: #f2f2f2;
}

.card {
    background-color: #f2f2f2;
    display: inline-block;
}

.fotos {
    margin-top: 10%;
}

.col {
    margin: 2%;
}

.lista {
    margin-left: 20%;
    margin-top: 20%;
    width: 100%;
    display: inline-block;
}
















































