body {
    font-family: sans-serif;
    color: #ffffff;
    background: #e7ebec;
    margin: 0px;
}

nav {
    float: left;
    width: 20%;
    padding-bottom: 41.5%;
    background-color: #272525;

}

.contenedor {
    float: right;
    width: 80%;
    padding: 0px;
    margin: 0px;
}

span {
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
}

span:hover {
    color: #D3D0CB;
}

.top {
    text-align: center;
    padding-top: 68.9px;
    padding-bottom: 68.9px;
    background-color: aqua;
}

.top-mid {
    text-align: center;
    padding-top: 68.9px;
    padding-bottom: 68.9px;
    background-color: gold;
}

.top-bottom {
    text-align: center;
    padding-top: 68.9px;
    padding-bottom: 68.9px;
    background-color: orange;
}

.bottom {
    text-align: center;
    background-color: red;
    padding-top: 68.9px;
    padding-bottom: 68.9px;
}

h1, h2, p, ul {
    margin: 0px;
}
